### Public ###
.idea
.vscode
.DS_Store
temp/*
!temp/*.md
logs

### Python ###
*.cookies
input
output

### Java ###
target
application-dev.properties
application-test.properties
application-prod.properties

### NodeJS ###
node_modules
dist

